<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdst.dao.StationMapper">
    <select id="QueryAllOffSongInfo" resultType="offical_works">
      SELECT works_name,works_path,works_cover,works_author FROM  offical_works
    </select>
</mapper>